<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="core@app" name="core" createdate="2023-01-30">
        <version date="2023-01-30">0.1pre</version>
        <label lang="en_US">core</label>
        <description lang="en_US" />
        <license URL="">All rights reserved</license>
        <copyright>2023 app</copyright>
        <creator name="app" email=""/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined"/>-->
        <homepageURL></homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.14-pre" maxversion="1.7.*"/>
    </dependencies>
    <autoload>
        <!--<psr4 namespace="\My\Namespace\core" dir="./"/>-->
    </autoload>
</module>
